:root {
  --primary-dark: rgb(6, 40, 61);
  --secondary-dark: rgb(22, 75, 97);
  --cerulean: rgb(37, 109, 133);
  --middle-blue: rgb(54, 145, 194);
  --principal-blue: rgb(71, 181, 255);
  --secondary-light: rgb(147, 214, 255);
  --primary-light: rgb(223, 246, 255);

  --title-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --subtitle-font: 'Trebuchet MS', 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont;
  --text-font: "Calibri", sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
}

nav a.title {
  color: var(--primary-light);
  font-size: x-large;
  font-family: var(--title-font);
  font-weight: 500;
  text-decoration: none;
  margin-right: 20px;
  margin-left: 15px;
}

.title {
  color: var(--primary-dark);
  font-family: var(--title-font);
}

main p {
  font-family: var(--text-font) ;
}

main {
  font-family: var(--text-font);
}

main h4 {
  font-family: var(--subtitle-font);
}

#logo {
  height:43px;
  margin-left:30px;
  -webkit-filter: drop-shadow(0 0 3px var(--secondary-light));
  filter: drop-shadow(0 0 3px var(--secondary-light));}

.dropdown-item {
  color: var(--primary-light);
}

.dropdown-item:hover {
  background-color: var(--cerulean);
  color: var(--primary-light);
}

.btn-sync {
  position: relative;
  padding: 5px 15px;
  background: var(--principal-blue);
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

.btn-sync:active {
  transform: scale(0.95);
}

.btn-sync:hover {
  background-color: var(--middle-blue);
}

.btn-sync:focus {
  background: var(--middle-blue);
}

.btn-sync__text {
  color: var(--primary-light);
  transition: all 0.2s;
}

.btn-sync--loading .btn-sync__text {
  visibility: hidden;
  opacity: 0;
}

.btn-sync--loading {
  animation: breathing-color 1.25s ease-out alternate infinite;
}

.btn-sync--loading::after{
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: var(--primary-light);
  border-bottom-color: var(--primary-light);
  border-radius: 50%;
  animation: loading-spinner 1.25s ease infinite;
}

@keyframes loading-spinner {
  from{
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

@keyframes breathing-color {
  from{
    background-color: var(--principal-blue);
  }
  to {
    background-color: var(--cerulean);
  }
}

.inline-icon {
  vertical-align: text-bottom;
  font-size: 18px;
}
