<!-- This is a template that contains the navbar and footer -->
{{define "base"}}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/img/GHOPI_logo.svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/sidenav.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- Links and title inside the head tag -->
    {{template "head" .}}
</head>

<body id="body" class="d-flex flex-column min-vh-100" style="
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 37%, rgba(223,246,255,1) 80%, rgba(186,230,255,1) 94%);">
    <header>
            <nav class="p-3 navbar navbar-dark fixed-top navbar-expand-md" style="background-color: rgb(6, 40, 61);">
                <img id="logo" src="static/img/GHOPI_logo.svg"></img>
                <a href="/" class="title">GHOPI</a>
                <button class="navbar-toggler ms-1 me-auto" type="button" data-bs-toggle="collapse" data-bs-target="#menuItems" aria-controls="menuItems" aria-expanded="false" aria-label="Toggle Navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                {{template "navbar" .}}
            </nav>
    </header>

    <div>
        <div id="sideNav" class="sidenav" style="margin-top: 72px; width: 300px; font-family: 'Trebuchet MS', 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont;">
            {{template "sidebar-top" .}}            
            <a href="/config-openproject"><img class="me-1" src="static/img/op_logo.svg" title="open project logo" style="width: 22px;height: 22px; transform: translateY(3px);">&ensp;Open Project configuration</a>
            <a href="/config-github"><img class="me-1" src="static/img/github_logo.svg" title="github logo" style="width: 22px;height: 22px; transform: translateY(3px);">&ensp;Github configuration</a>
            <a href="/logs"><span class="material-symbols-outlined" style="transform: translateY(2px);">text_snippet</span>&ensp;Logs</a>
            <hr>
            <a href="/usermanual"><span class="material-symbols-outlined" style="transform: translateY(2px);">account_circle</span>&ensp;User Manual</a>
            {{template "sidebar-bottom" .}}
        </div>
        <!-- Use any element to open the sidenav -->
        <span onclick="toggleSideNav()" id="opensidenav" class="close">
            <span id="sidenav-icon" class="material-symbols-outlined">arrow_back_ios</span>
        </span>

        <main id="main">
            <!-- Main cotent of the view -->
            {{template "content" .}}
        </main>
    </div>

    <!-- Scripts -->
    <script>
        const u = window.location.href
        function getPathFromUrl(u) {
            return u.split(/[?#]/)[0];
        }
        const url_copy = getPathFromUrl(u)
        function copyOP() {
            const url = url_copy + "api/openproject";
            navigator.clipboard.writeText(url);
            Swal.fire({
                    title: "URL copied to your clipboard",
                    text: url,
                    icon: "success"
                })
        }

        function copyGithub() {
            const url = url_copy + "api/github";
            navigator.clipboard.writeText(url);
            Swal.fire({
                    title: "URL copied to your clipboard",
                    text: url,
                    icon: "success"
                })
        }

        function copyGitlab() {
            const url = url_copy + "api/gitlab";
            navigator.clipboard.writeText(url);
            Swal.fire({
                    title: "URL copied to your clipboard",
                    text: url,
                    icon: "success"
                })
        }
    </script>
    <script src="static/js/sidenav.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {{template "scripts" .}}
</body>
</html>
{{end}}