{{define "head"}}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="{{.subpath}}/static/css/style.css">
<title>Github configuration</title>

<style>
    .btn-sync__text .material-symbols-outlined {
        font-variation-settings:
        'FILL' 1,
        'wght' 600,
        'GRAD' -25,
        'opsz' 100;
        color: rgb(223, 246, 255);
        vertical-align: text-bottom;
        font-size: 24px;
      }
      .btn-reset {
        background-color: var(--primary-light);
        color: var(--primary-dark);
        
        font-weight: 200;
        font-family: var(--subtitle-font);
        font-size: medium;
        
        position: relative;
        padding: 5px 15px;
        border: none;
        outline: none;
        border-radius: 2px;
        cursor: pointer;
    }

    .btn-reset:hover {
        background-color: var(--secondary-light);
    }

    .btn-reset:active {
        background-color: var(--cerulean);
    }

    .btn-reset:focus {
        background-color: var(--primary-light);
    }
</style>

{{end}}

{{define "navbar"}}
<div class="topnav-right">
    <button id="button-reset" type="button" class="btn btn-reset me-3 btn-lg" onclick="reset_date()">
        <span>
            Reset last refresh date 
        </span>
    </button>
    <button type="button" class="btn btn-sync me-3 btn-lg" onclick="loading()">
        <span class="btn-sync__text">
            Refresh 
            <span class="material-symbols-outlined">sync</span>
        </span>
    </button>
</div>
{{end}}

{{define "sidebar-top"}}
{{end}}

{{define "sidebar-bottom"}}
{{end}}

{{define "content"}}

<div class="container-fluid" style="padding-right: 7vw; padding-left: 5vw;">
    <div class="mb-3">
        <h1 class="title">Github configuration</h1>
        <p style="text-align: justify;">
        This is the GitHub configuration page of GHOPI, this tool enables you to integrate your GitHub organizations with our app and automate the synchronization of your project data. By logging in to your GitHub account through our app, you can easily create a webhook with a GitHub organization, which allows our app to receive real-time notifications about any changes made to your repositories. With this webhook, you can set up automatic synchronization between your OpenProject tasks and GitHub issues, so that any updates made in either platform will be reflected in the other. This saves you time and eliminates the need for manual data entry, ensuring that your project data is always up-to-date and accurate.<br><br>

        In the GitHub configuration page, you will be able to log in with your github account and create as many webhooks as you need for your organizations. For further information read the <a href="{{.subpath}}/docs">user manual</a> or visit our Github <a href="https://github.com/JCruiz15/GHOPI">repository</a>.
        </p>

        <div class="d-flex justify-content-center">
            <form action="{{.subpath}}/github/login" method="post" enctype="multipart/form-data">
                <input class="btn-one mt-2" id="submit-login" type="submit" name="submit_gh" value="Sign up with github"/>
                <p id="login-label" class="mt-2" style="text-align: center;" hidden></p>
            </form>
        </div>
        <div class="d-flex justify-content-center">
            <button class="btn-two mt-2" type="button" name="gh_webhook" onclick="gh_webhook()">Create Webhook</button>
        </div>
    </div>
</div>

{{end}}

{{define "scripts"}}

<script>
    window.onload = checkAPIkey();

    async function checkAPIkey() {
        config_check = await get_config()
        if (config_check == null) {
            document.getElementById("submit-login").disabled = true;
            document.getElementById("submit-login").title = "Insert the correct API key to use"
        }
    }
</script>

<script>
    async function gh_webhook() {
        const { value: org } = await Swal.fire({
            title: 'Enter organization name',
            input: 'text',
            inputLabel: 'Organization:',
            showCancelButton: true,
            inputValidator: (value) => {
                if (!value) {
                return 'You need to write something!'
                }
                if (value.includes(" ")) {
                    return 'Organization names must not have blank spaces'
                }
            }
        })
        if(org) {
            const organization = {
                "organizationName": org
            };

            function postWebhook(data) {
                return new Promise(function (resolve, reject){
                    fetch('{{.subpath}}/github/webhook', {
                        method: 'POST',
                        headers: {
                            'Authentication': 'Bearer '.concat(readCookie("apikey")),
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(data),
                    })
                    .then(
                        (response) => response.json().then(data =>{
                            resolve(data);
                        }),
                        (error) => {reject(error);}
                    );
                })
            }

            var result = await postWebhook(organization)
            if(result.hasOwnProperty('message')){
                msg = JSON.stringify(JSON.parse(JSON.stringify(result)).message)
                Swal.fire("Webhook creation failed", msg.replace(/["]/g, ""), "error")
            }
            else {
                Swal.fire("Webhook created", "Webhook was created successfully", "success")
            }  
        }
    }
</script>

<script>
    async function show_user() {
        config = await get_config();

        if(config == null) {
            return
        }
        
        if(config['github-user'] != "" && config['github-user'] != undefined) {
            let label = document.getElementById("login-label");
            label.innerHTML = "Signed in as <b>" + config['github-user'] + "</b>";
            label.hidden = false;
            document.getElementById("submit-login").value = "Log in Github with another account"
        }
    }
    
    window.onload = function() {
        show_user();
    };
</script>

{{end}}