{{define "head"}}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<title>GHOPI</title>

<style>
    #save .material-symbols-outlined {
        font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' -25,
        'opsz' 48;
        color:rgb(71, 181, 255);
        position: absolute;
        transition: all 0.5s;
      }
      #save .material-symbols-outlined:hover {
          color: rgb(37, 109, 133);
        }
      #save .material-symbols-outlined:active {
          color: rgb(22, 75, 97);
      }

      #save:hover {
        cursor:pointer;
      }
    .btn-sync__text .material-symbols-outlined {
        font-variation-settings:
        'FILL' 1,
        'wght' 600,
        'GRAD' -25,
        'opsz' 100;
        color: rgb(223, 246, 255);
        vertical-align: text-bottom;
        font-size: 24px;
      }
</style>
{{end}}

{{define "navbar"}}
<div class="topnav-right">
    <button type="button" class="btn btn-sync me-3 btn-lg" onclick="loading()">
        <span class="btn-sync__text">
            Refresh 
            <span class="material-symbols-outlined">sync</span>
        </span>
    </button>
</div>
{{end}}

{{define "sidebar-top"}}
{{end}}

{{define "sidebar-bottom"}}
{{end}}

{{define "content"}}
<div class="container-fluid px-5">
    <div class="mb-3">
        <h1 class="title">GHOPI configuration</h1>
        <p>
            Welcome to the GHOPI's configuration website, our app has been developed to create a channel of communication between Open Project and Github. This service must give project leaders and CEOs more freedom and let them focus on their work and avoid as much as possible unnecessary stops to change repository permissions, create new branches, open and close pull requests, etc.
        </p>
        <p>
            In this website you will be able to configure your GHOPI app. To get more information about how to do it, read carefully the <a href="/usermanual" style="text-decoration: none;" >User Manual</a>. If you have already used our configuration webpage you can go directly to configure Open Project or Github parameters. If some information have not been pushed between apps, just use the refresh button at the top right corner to syncronize both apps.
        </p>
        <div class="d-flex justify-content-center">
            <button class="btn-one my-3 mx-4" type="button" name="locationOP" onclick="location.href = '/config-openproject'">Go to Open Project configuration</button>
            <button class="btn-one my-3 mx-4" type="button" name="locationOP" onclick="location.href = '/config-github'">Go to Github configuration</button>
        </div>
        <img class="mt-3 mx-auto" src="OP_GH-channel.jpg" alt="Image of OP and Github comunicating" width="500" height="600" style="border: 1px solid;"> 
    </div>
</div>
{{end}}

{{define "scripts"}}
<script>
    const url = (window.location.href).split(/[?#]/)[0] + "api/refresh";
    const theButton = document.querySelector(".btn-sync");

    function refresh(){
        fetch(url).then(res => {
            return res.text()
        }).then(text => {
            theButton.classList.remove("btn-sync--loading");
            let type = "";
            if (text.startsWith("Error")) { type = "error" }
            else { type = "success" }
            Swal.fire({
                title: "Finished refreshing tasks",
                text: text,
                icon: type
            })
        })
    }
    function loading(){
        refresh();
        theButton.classList.add("btn-sync--loading");
    }
</script>
{{end}}