{{define "head"}}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<title>GHOPI</title>

<style>
    #save .material-symbols-outlined {
        font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' -25,
        'opsz' 48;
        color:rgb(71, 181, 255);
        position: absolute;
        transition: all 0.5s;
      }
      #save .material-symbols-outlined:hover {
          color: rgb(37, 109, 133);
        }
      #save .material-symbols-outlined:active {
          color: rgb(22, 75, 97);
      }

      #save:hover {
        cursor:pointer;
      }
    .btn-sync__text .material-symbols-outlined {
        font-variation-settings:
        'FILL' 1,
        'wght' 600,
        'GRAD' -25,
        'opsz' 100;
        color: rgb(223, 246, 255);
        vertical-align: text-bottom;
        font-size: 24px;
      }
</style>
{{end}}

{{define "navbar"}}

{{end}}

{{define "sidebar-top"}}
{{end}}

{{define "sidebar-bottom"}}
<a class="secondary-text" href="/docs#configuringGHOPI">&emsp;1. GHOPI's configuration</a>
<a class="secondary-text" href="/docs#configureOpenProject">&emsp;&emsp;1.1. Configuring Open Project</a>
<a class="secondary-text" href="/docs#configureGithub">&emsp;&emsp;1.2. Configuring Github</a>
<a class="secondary-text" href="/docs#configuringGHuser">&emsp;&emsp;&emsp;1.2.1. Logging in Github</a>
{{end}}

{{define "content"}}
<div class="container-fluid" style="padding-right: 7vw; padding-left: 5vw;">
    <div class="mb-3" >
        <h1 class="mb-1 title">User manual</h1>
        <h2 class="mb-4 subtitle">How to use GHOPI?</h2>
        Welcome to the user manual for GHOPI, our synchronization app between OpenProject and GitHub. This app provides a solution for users who want to synchronize their project data between these two popular platforms.
        Using our app, you will be able to easily create a channel of communication between OpenProject and GitHub, allowing you to keep your projects up-to-date and avoid the need for manual data entry.<br>
        This user manual will guide you through the process of configuring, and using GHOPI. We will provide step-by-step instructions, helpful tips, and screenshots to help you get the most out of the app. Whether you are a project manager, software developer, or just a freelancer who is trying to improve its work flow, our app is designed to simplify your workflow and enhance your productivity.<br>
        Thank you for choosing GHOPI, and we hope that this user manual will be a valuable resource for you as you use our app to synchronize your project data between OpenProject and GitHub.<br class="mb-3">
        
        <h4 id="configuringGHOPI">1. GHOPI's configuration</h4>
        In this manual we are not explaining how to install this app, because to read this you have to had it already installed. We will explain how to configure GHOPI so it can receive data from Github and Open Project.
        This channel will make use of the webhooks provided by both apps, so you will need to have this app running in a <b>visible port</b> for both apps. Normally the app will be running on port 5050.
        It must be said that this project is the first version and it may change or add features in a future, so if something you need is not supported yet be patient or contact us to add new features.
        
        <h5 id="configureOpenProject" class="mt-2">1.1. Configuring Open Project</h5>
        

        <h5 id="configureGithub" class="mt-2">1.2. Configuring Github</h5>
        Github configuration can be done entirely through the web user interface, but it can also be done manually if wanted. This apps controls the webhooks sent by <b>Github organizations</b>, so before configuring the app you must make sure that the Github master account have admin permissions for the organizations in which will this app work.
        <h6 class="mt-2" id="configuringGHuser">1.2.1. Logging in Github</h6>
        Firstly you will need to log in Github with an account. Make sure this account has admin permissions on the organizations in which you want to use GHOPI. This account should also be assigned to the Open Project's admin account.
        <br>
        You may log in using the user interface in the <a href="/config-github">Github configuration</a> page using the button meant for it. <br>
        <img src="/static/img/github-config-page-signbutton.png" style="width: 50vw;"/>


        
    </div>
</div>
{{end}}

{{define "scripts"}}

{{end}}