{{define "head"}}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<title>Logs</title>
<link rel="stylesheet" href="{{.subpath}}/static/css/logs_style.css">

<style>
    .btn-sync__text .material-symbols-outlined {
        font-variation-settings:
        'FILL' 1,
        'wght' 600,
        'GRAD' -25,
        'opsz' 100;
        color: rgb(223, 246, 255);
        vertical-align: text-bottom;
        font-size: 24px;
    }

    .date-picker {
        padding: 0.5%;
        border: rgba(147, 214, 255, 0.3) solid 2px;
        border-radius: 5px;
        font-family: "Calibri", sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
        color: rgb(6, 40, 61);
        background-color: white;
    }
</style>
{{end}}

{{define "navbar"}}
<div class="topnav-right">
    <button type="button" class="btn btn-sync me-3 btn-lg" onclick="loading()">
        <span class="btn-sync__text">
            Refresh 
            <span class="material-symbols-outlined">sync</span>
        </span>
    </button>
</div>
{{end}}

{{define "sidebar-top"}}
{{end}}

{{define "sidebar-bottom"}}
{{end}}

{{define "content"}}
<div class="container-fluid" style="padding-right: 7vw; padding-left: 5vw;">
    <div class="mb-3">
        <h1 class="title mb-4">App logs</h1>
        <div class="row justify-content-between">
            <div class="dropdown col-lg-auto">
                <button class="btn-one dropdown-toggle mb-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Filter by type
                </button>
                <ul class="dropdown-menu" style="background-color: rgb(22, 75, 97); font-family: 'Calibri', sans-serif, system-ui, -apple-system, BlinkMacSystemFont;">
                    <li><a class="dropdown-item" onclick="filterByType(4)" style="cursor: pointer;">INFO level</a></li>
                    <li><a class="dropdown-item" onclick="filterByType(3)" style="cursor: pointer;">&ensp;<span class="material-symbols-outlined" style="font-weight: 200; transform: translateY(4px);">subdirectory_arrow_right</span>WARNING level</a></li>
                    <li><a class="dropdown-item" onclick="filterByType(2)" style="cursor: pointer;">&ensp;&ensp;<span class="material-symbols-outlined" style="font-weight: 200; transform: translateY(4px);">subdirectory_arrow_right</span>ERROR level</a></li>
                    <li><a class="dropdown-item" onclick="filterByType(1)" style="cursor: pointer;">&ensp;&ensp;&ensp;<span class="material-symbols-outlined" style="font-weight: 200; transform: translateY(4px);">subdirectory_arrow_right</span>FATAL level</a></li>
                </ul>
            </div>
            <div class="col-lg-7">
                <label for="filterDateStart" >From: </label>
                <input class="date-picker mb-2 me-2" id="filterDateStart" type="date" oninput="CheckDate()"></input>
                <label for="filterDateEnd">Until: </label>
                <input class="date-picker mb-2 me-2" id="filterDateEnd" type="date" oninput="CheckDate()"></input>
                <button class="btn-one mb-3" type="button" onclick="filterByDate()">Filter by date</button>
            </div>
            <div class="col-lg-2">
                <button class="btn-two mb-3" type="button" onclick="show_logs()">Reset</button>
            </div>
        </div>
        
        <div id="logs" tabindex="-1" style="height: 62vh;"></div>
    </div>
</div>

{{end}}

{{define "scripts"}}
    <script src=" https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js "></script>

    <script>
        const url = window.location.href.split(location.pathname)[0] + "{{.subpath}}/api/get-logs";

        let filterMenu = document.getElementById("filters");
        let logs = document.getElementById("logs");
        let startDate = document.getElementById("filterDateStart");
        let endDate = document.getElementById("filterDateEnd");
        let filtered_type = false;
        let fileterd_date = false;

        async function get_logs() {
            let response = await fetch(url);
            let data = await response.text();
            return data;
        }

        async function show_logs() {
            logs.innerHTML = await get_logs();
            filterByType(4);
            filtered_type = false;
            filtered_date = false;
            startDate.value = "";
            endDate.value = "";
        }
        window.onload = show_logs();

        async function filterByType(level) {
            cmd = await get_logs();
            let lines = cmd.split("<br>");
            let resul = "";
            for (i=1; i<lines.length; i++) {
                if(lines[i] == undefined || lines[i] == ""){
                    break;
                }
                l = lines[i].match(/\[([^)]*)\]/)[1];
                switch (level) {
                    case 4:
                        if(l.includes("INFO") || l.includes("WARNING") || l.includes("ERROR") || l.includes("FATAL")) {
                            resul = resul.concat(lines[i], "<br>");
                        }
                        break;
                    case 3:
                        if(l.includes("WARNING") || l.includes("ERROR") || l.includes("FATAL")) {
                            resul = resul.concat(lines[i], "<br>");
                        }
                        break;
                    case 2:
                        if(l.includes("ERROR") || l.includes("FATAL")) {
                            resul = resul.concat(lines[i], "<br>");
                        }
                        break;
                    case 1:
                        if(l.includes("FATAL")) {
                            resul = resul.concat(lines[i], "<br>");
                        }
                        break;
                }
            }
            logs.innerHTML = resul;
            filtered_type = true;
            if (!filtered_date && (startDate.value != "" || endDate.value != "")){
                filterByDate()
            }
        }

        function CheckDate() {
            let start = new Date(startDate.value);
            let end = new Date(endDate.value);
            if (start > end) {
                first = endDate.value;
                endDate.value = startDate.value;
                startDate.value = first;
            }
        }

        async function filterByDate() {
            all_logs = await get_logs();
            let lines = all_logs.split("<br>");
            let resul = "";
            filtered_date = true;

            let start = new Date(startDate.value);
            if(startDate.value === '') {
                start = new Date("1900-01-01T01:00:00");
            }
            let end = new Date(endDate.value);
            if(endDate.value === '') {
                end = new Date("2500-01-01T01:00:00");
            }

            let str1 = '<span id="date" style="color:grey; font-family: monospace;">\t'
            let str2 = '</span>'

            for (i = 0; i < lines.length; i++) {
                date_element_index1 = lines[i].indexOf(str1);   // Gets index of span
                if (date_element_index1 != -1) {
                    ind1 = date_element_index1+str1.length;     // If it has de correct format it gets de date between indexes
                    ind2 = lines[i].indexOf(str2, ind1);

                    date_str = lines[i].substring(ind1 , ind2);
                    date = moment(date_str, "DD/MM/YYYY-HH:mm:ss").toDate();
                } else {
                    date = new Date("");
                }

                if (date.setHours(23, 59, 59, 999) >= start && date.setHours(0, 0, 0, 0) <= end) { // It'll show dates in between the limits
                    resul = resul.concat(lines[i], "<br>");
                }
            }
            logs.innerHTML = resul;
        }
    </script>
{{end}}