{{define "head"}}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<title>Logs</title>
<link rel="stylesheet" href="static/css/logs_style.css">

<style>
    .btn-sync__text .material-symbols-outlined {
        font-variation-settings:
        'FILL' 1,
        'wght' 600,
        'GRAD' -25,
        'opsz' 100;
        color: rgb(223, 246, 255);
        vertical-align: text-bottom;
        font-size: 24px;
    }

    .date-picker {
        padding: 0.5%;
        border: rgba(147, 214, 255, 0.3) solid 2px;
        border-radius: 5px;
        font-family: "Calibri", sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
        color: rgb(6, 40, 61);
        background-color: white;
    }
</style>
{{end}}

{{define "navbar"}}
<div class="topnav-right">
    <button type="button" class="btn btn-sync me-3 btn-lg" onclick="loading()">
        <span class="btn-sync__text">
            Refresh 
            <span class="material-symbols-outlined">sync</span>
        </span>
    </button>
</div>
{{end}}

{{define "sidebar-top"}}
{{end}}

{{define "sidebar-bottom"}}
{{end}}

{{define "content"}}
<div class="container-fluid" style="padding-right: 7vw; padding-left: 5vw;">
    <div class="mb-3">
        <h1 class="title mb-4">App logs</h1>
        <div class="row justify-content-between">
            <div class="dropdown col-lg-auto">
                <button class="btn-one dropdown-toggle mb-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Filter by type
                </button>
                <ul class="dropdown-menu" style="background-color: rgb(22, 75, 97); font-family: 'Calibri', sans-serif, system-ui, -apple-system, BlinkMacSystemFont;">
                    <li><a class="dropdown-item" onclick="filterByType(4)" style="cursor: pointer;">INFO level</a></li>
                    <li><a class="dropdown-item" onclick="filterByType(3)" style="cursor: pointer;">&ensp;<span class="material-symbols-outlined" style="font-weight: 200; transform: translateY(4px);">subdirectory_arrow_right</span>WARNING level</a></li>
                    <li><a class="dropdown-item" onclick="filterByType(2)" style="cursor: pointer;">&ensp;&ensp;<span class="material-symbols-outlined" style="font-weight: 200; transform: translateY(4px);">subdirectory_arrow_right</span>ERROR level</a></li>
                    <li><a class="dropdown-item" onclick="filterByType(1)" style="cursor: pointer;">&ensp;&ensp;&ensp;<span class="material-symbols-outlined" style="font-weight: 200; transform: translateY(4px);">subdirectory_arrow_right</span>FATAL level</a></li>
                </ul>
            </div>
            <div class="col-lg-7">
                <label for="filterDateStart" >From: </label>
                <input class="date-picker mb-2 me-2" id="filterDateStart" type="date" oninput="CheckDate()"></input>
                <label for="filterDateEnd">Until: </label>
                <input class="date-picker mb-2 me-2" id="filterDateEnd" type="date" oninput="CheckDate()"></input>
                <button class="btn-one mb-3" type="button" onclick="filterByDate()">Filter by date</button>
            </div>
            <div class="col-lg-2">
                <button class="btn-two mb-3" type="button" onclick="show_logs()">Reset</button>
            </div>
        </div>
        
        <div id="logs" tabindex="-1" style="height: 62vh;"></div>
    </div>
</div>

{{end}}

{{define "scripts"}}
    <script src=" https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js "></script>

    <script src="static/js/console.js"></script>

    <script>
        const url_ref = window.location.href.split(location.pathname)[0] + "/api/refresh";
        const theButton = document.querySelector(".btn-sync");

        function refresh(){
        fetch(url_ref).then(res => {
            return res.text()
        }).then(text => {
            theButton.classList.remove("btn-sync--loading");
            let type = "success";
            let title = "Finished refreshing tasks";
            if (text.startsWith("Error")) {
                type = "error";
                title = "Error when refreshing"
            }
            Swal.fire({
                title: title,
                text: text,
                icon: type
            })
        })
    }
        function loading(){
            refresh();
            theButton.classList.add("btn-sync--loading");
        }
    </script>
{{end}}