{{define "head"}}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="static/css/style.css">
<title>Open Project configuration</title>

<style>
    .btn-sync__text .material-symbols-outlined {
        font-variation-settings:
        'FILL' 1,
        'wght' 600,
        'GRAD' -25,
        'opsz' 100;
        color: rgb(223, 246, 255);
        vertical-align: text-bottom;
        font-size: 24px;
      }
</style>

{{end}}

{{define "navbar"}}
<div class="collapse navbar-collapse" id="menuItems">
    <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Copy URL
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: rgb(22, 75, 97);">
                <li>
                    <a class="dropdown-item" onclick="copyOP()" role="button">
                        <img class="me-1" src="static/img/op_logo.svg" title="open project logo" style="width: 20px;height: 20px;">
                        Copy Open Project endpoint
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" onclick="copyGithub()" role="button">
                        <img class="me-1" src="static/img/github_logo.svg" title="github logo" style="width: 20px;height: 20px;">
                        Copy Github endpoint
                    </a>
                </li>
                <!--<li>
                    <a class="dropdown-item text-lgray" onclick="copyGitlab()" role="button">
                        <img class="me-1" src="static/img/gitlab_logo.svg" title="gitlab logo" style="width: 20px;height: 20px;">
                        Copy Gitlab endpoint
                    </a>
                </li> -->
            </ul>
        </li>
    </ul>
</div>
<div class="topnav-right">
    <button type="button" class="btn btn-sync me-3 btn-lg" onclick="loading()">
        <span class="btn-sync__text">
            Refresh 
            <span class="material-symbols-outlined">sync</span>
        </span>
    </button>
</div>
{{end}}

{{define "sidebar-top"}}
<div id="back">
    <a onclick="window.history.go(-1);" style="cursor: pointer;"><span class="material-symbols-outlined">keyboard_backspace</span>&ensp;Back</a>
</div>
{{end}}

{{define "sidebar-bottom"}}
{{end}}

{{define "content"}}

<div class="container-fluid px-5">
    <div class="mb-3">
        <h1 class="title">Open Project configuration</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut nibh enim. Aenean leo nibh, lacinia a lobortis eget, placerat a ante. Aenean quis condimentum urna. In leo est, rutrum finibus tempus ac, tincidunt mattis sapien. Integer nunc eros, venenatis ac gravida eget, rhoncus ac lectus. Nulla facilisi. Donec venenatis malesuada tincidunt. Sed vehicula eros quis diam aliquam pellentesque. Etiam accumsan nibh non ullamcorper sollicitudin. Suspendisse dui nibh, suscipit eu nisi a, pretium vestibulum dui. Donec sed libero quis metus tempor condimentum eleifend ac felis. Curabitur at leo ut nunc luctus vehicula. Suspendisse dignissim leo ut leo imperdiet, consectetur sollicitudin lacus porta. Etiam sit amet elit ornare, pharetra metus vitae, varius dolor.
        </p>
        <p>
            <label>OpenProject instance URL:</label>
            <div class="form-group">
                <span>http://</span>
                <input id="op_url" name="op_url" class="form-field" type="text" placeholder="open-project-domain.com">
                <span onclick="save()" id="save" class="button">Save</span>
            </div>
        </p>

        <div class="d-flex justify-content-center">
            <form action="/op/login" method="post" enctype="multipart/form-data">
                <input class="btn-one mt-2" type="submit" name="submit_op" value="Sign up with Open Project"/>
            </form>
        </div>
    </div>
</div>

{{end}}

{{define "scripts"}}

<script>
    const url = window.location.href.split(location.pathname)[0] + "api/refresh";
    const theButton = document.querySelector(".btn-sync");

    function refresh(){
        fetch(url).then(res => {
            return res.text()
        }).then(text => {
            theButton.classList.remove("btn-sync--loading");
            let type = "";
            if (text.startsWith("Error")) { type = "error" }
            else { type = "success" }
            Swal.fire({
                title: "Finished refreshing tasks",
                text: text,
                icon: type
            })
        })
    }
    function loading(){
        refresh();
        theButton.classList.add("btn-sync--loading");
    }
</script>

<script>
    function containsOnly(str, set) {
        return str.split('').every(function(ch) {
            return set.indexOf(ch) !== -1;
        });
    }

    function save() {
        const url = (window.location.href).split(/[?#]/)[0] + "op/save-url";
        let input = document.getElementById("op_url");
        if (input.value === "") {
            input.value = "";
            input.placeholder = "URL cannot be blank";
            input.style.backgroundColor = "rgba(255,0,0,0.1)";
            
        } else if (input.value.includes(" ")) {
            input.value = "";
            input.placeholder = "URL cannot contain spaces";
            input.style.backgroundColor = "rgba(255,0,0,0.1)";
        } else if (!containsOnly(input.value, "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789-._~:/?#[]@!$&'()*+,;=")) {
            input.value = "";
            input.placeholder = "Invalid URL";
            input.style.backgroundColor = "rgba(255,0,0,0.1)";
        } else {
            let data = {op_url: "http://"+input.value};
            console.log(data);

            fetch("/op/save-url", {
                method: "POST",
                headers: {'Content-Type': 'application/json'}, 
                body: JSON.stringify(data)
            }).then(res => {
                Swal.fire("URL saved", "", "info")
            });
        }
    }
</script>

{{end}}